<template>
  <div>
    <v-container class="d-flex">
      <v-card class="mx-auto" color="transparent" flat>
        <h1 class="text-center  font-weight-light mr-2">
          PROYECTO FINAL
        </h1>
        <h2
          class="yellow--text text--darken-3 text-center font-weight-light mr-2"
        >
          INSTRUMENTACION ELECTRONICA
        </h2>
      </v-card>
    </v-container>
    <v-container class="d-flex">
      <v-card
        max-width="350px"
        max-height="400px"
        class="ml-auto"
        color="black"
        dark
      >
        <v-img
          src="../assets/polygon.png"
          max-height="100%"
          max-width="300px"
          cover
        >
          <h2 class=" mx-auto px-2 font-weight-light text-center">
            MEDIDOR GAUGE
          </h2>
          <h2 class=" mx-auto px-2 font-weight-light text-center">
            POTENCIOMETRO
          </h2>
          <v-row>
            <v-col md="6">
              <v-sparkline
                height="15px"
                color="yellow darken-4"
                :value="value"
                line-width="6"
                class="pl-2 pr-10 mb-3"
                smooth
                stroke-linecap="round"
              ></v-sparkline>
            </v-col>
          </v-row>
          <Speedometer />
        </v-img>
      </v-card>
      <v-card
        max-width="350px"
        max-height="400px"
        class="mx-3"
        color="black"
        dark
      >
        <v-img
          src="../assets/polygon.png"
          max-height="100%"
          max-width="270px"
          cover
        >
          <h1 class=" mx-auto font-weight-light text-center">
            GFORCE
          </h1>
          <v-row>
            <v-col md="6">
              <v-sparkline
                height="15px"
                color="yellow darken-4"
                :value="value"
                line-width="6"
                class="pl-2 pr-10 mb-3"
                smooth
                stroke-linecap="round"
              ></v-sparkline>
            </v-col>
          </v-row>
          <v-container class="d-flex">
            <Canvas :acelerometro="Acelerometro" class="ml-auto" />
          </v-container>
        </v-img>
      </v-card>
      <v-card max-width="350px" class="mr-auto" color="black" dark>
        <v-img
          src="../assets/polygon.png"
          min-height="100%"
          max-width="270px"
          cover
        >
          <h2 class=" mx-auto px-2 font-weight-light text-center">
            ESTADO FISICO
          </h2>
          <h2 class=" mx-auto px-2 font-weight-light text-center">
            BOTONES
          </h2>
          <v-row>
            <v-col md="6">
              <v-sparkline
                height="15px"
                color="yellow darken-4"
                :value="value"
                line-width="6"
                class="pl-2 pr-10 mb-3"
                smooth
                stroke-linecap="round"
              ></v-sparkline>
            </v-col>
          </v-row>
          <Buttons />
        </v-img>
      </v-card>
    </v-container>
    <v-container class="d-flex">
      <v-sheet class="mx-auto" color="transparent">
        <Histograms :dht="dht11" />
      </v-sheet>
    </v-container>
    <v-container class="d-flex">
      <v-sheet class="ml-auto mr-2" color="transparent">
        <Servo />
      </v-sheet>
      <v-sheet class="mr-auto ml-2 mb-7" color="transparent">
        <Info :acelerometro="Acelerometro" :dht="dht11" />
      </v-sheet>
    </v-container>

    <br />
    <!-- {{ dht11 }} -->
    <v-card min-height="220px">
      <v-container class="d-flex">
        <v-card class="mx-auto" color="transparent" flat>
          <h4 class=" font-weight-light mr-2">
            Integrantes
          </h4>
          <h3 class=" justify-end  font-weight-regular mr-2">
            Erik Gonzalez Hernandez
          </h3>
          <h3 class=" justify-end  font-weight-regular mr-2">
            Jose Antonio Cisneros Avilez
          </h3>
          <h3 class=" justify-end  font-weight-regular mr-2">
            Veronica Mercado Perez
          </h3>
          <h3 class=" justify-end  font-weight-regular mr-2">
            Kristian Eduardo Alba Macias
          </h3>
        </v-card>
        <v-card class="mx-auto" color="transparent" flat>
          <v-card class="mx-auto" color="transparent" flat>
            <h4 class=" font-weight-light mr-2">
              Sensores
            </h4>
            <h3 class=" justify-end  font-weight-regular mr-2">
              DHT11
            </h3>
            <h3 class=" justify-end  font-weight-regular mr-2">
              MPU6050
            </h3>
            <h3 class=" justify-end  font-weight-regular mr-2">
              ADS1115
            </h3>
          </v-card>
        </v-card>
      </v-container>
      <v-footer absolute class="font-weight-medium">
        <v-col class="text-center" cols="12">
          {{ new Date().getFullYear() }} — <strong>KERRISK</strong>
        </v-col>
      </v-footer>
    </v-card>
  </div>
</template>

<script>
// @ is an alias to /src
import Canvas from "../components/Canvas";
import Speedometer from "../components/Speedometer";
import Buttons from "../components/Buttons";
import Histograms from "../components/Histograms";
import Servo from "../components/Servo";
import Info from "../components/Info";

export default {
  name: "Home",
  components: {
    Canvas,
    Speedometer,
    Buttons,
    Histograms,
    Servo,
    Info
  },
  data() {
    return {
      RPC: "",

      dht11: {},
      value: [-8, -8]
    };
  },
  computed: {
    Acelerometro() {
      return this.$store.getters.getAcelerometro;
    }
  },
  mounted() {
    console.log(window);
    window.setInterval(() => {
      this.$JaysonRPC.request("accelerometer", [], (err, response) => {
        if (err) throw err;
        this.$store.dispatch("update_acelerometro", response.result); // 2
      });
    }, 1000);

    window.setInterval(() => {
      this.$JaysonRPC.request("dht11", [], (err, response) => {
        if (err) throw err;
        if (response.result.status != 200) {
          return;
        }
        this.dht11 = response.result; // 2
      });
    }, 100);
  }
};
</script>
