<template>
  <v-container class="d-flex">
    <v-card
      class="mx-auto mr-1"
      min-width="100px"
      :color="state1 ? 'green' : 'yellow darken-4'"
      min-height="100px"
      dark
    >
      <v-container class="d-flex">
        <h3 class="mx-auto font-weight-light text-center">
          BOTON 1
        </h3>
      </v-container>
      <v-container class="d-flex">
        <v-icon size="40" class="mx-auto ">{{
          state1 ? "mdi-check-circle" : "mdi-close-circle"
        }}</v-icon>
      </v-container>
      <v-container class="d-flex">
        <h2 class=" font-weight-light text-center">
          {{ state1 ? "Abierto" : "Cerrado" }}
        </h2>
      </v-container>
    </v-card>
    <v-card
      class="mx-auto ml-1"
      min-width="100px"
      :color="state2 ? 'green' : 'yellow darken-4'"
      min-height="100px"
      dark
    >
      <v-container class="d-flex">
        <h3 class="mx-auto font-weight-light text-center">
          BOTON 2
        </h3>
      </v-container>
      <v-container class="d-flex">
        <v-icon size="40" class="mx-auto ">{{
          state2 ? "mdi-check-circle" : "mdi-close-circle"
        }}</v-icon>
      </v-container>
      <v-container class="d-flex">
        <h2 class=" font-weight-light text-center">
          {{ state2 ? "Abierto" : "Cerrado" }}
        </h2>
      </v-container>
    </v-card>
  </v-container>
</template>
<script>
export default {
  name: "Buttons",
  data() {
    return {
      state1: false,
      state2: false
    };
  },
  mounted() {
    window.setInterval(() => {
      this.$JaysonRPC.request("buttons", [], (err, response) => {
        if (err) throw err;
        this.state2 = response.result.btn1;
        this.state1 = response.result.btn2;
      });
    }, 250);
  }
};
</script>
