<template>
  <v-container class="pa-0">
    <div id="container">
      <v-stage :config="configKonva" id="infoi">
        <v-layer>
          <v-circle :config="configHoop"></v-circle>
          <v-circle :config="configHoop2"></v-circle>
          <v-line :config="configLineV"></v-line>
          <v-line :config="configLineH"></v-line>
          <v-circle :config="configCir"></v-circle>
        </v-layer>
      </v-stage>
    </div>
    <v-gauge :value="value" :options="opts" width="250px" height="250px" />
  </v-container>
</template>
<script>
import VGauge from "vgauge";

export default {
  name: "Canvas",
  components: { VGauge },

  props: {
    acelerometro: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      value: 15,
      configKonva: {
        width: 250,
        height: 250
      },
      configCircle: {
        x: 125 - this.xValue,
        y: 120 + this.yValue,
        radius: 10,
        fill: "red",
        strokeWidth: 4
      },
      configHoop: {
        x: 125,
        y: 120,
        radius: 60,
        stroke: "white",
        strokeWidth: 4
      },
      configHoop2: {
        x: 125,
        y: 120,
        radius: 40,
        stroke: "white",
        strokeWidth: 4
      },
      configLineV: {
        points: [125, 50, 125, 190],
        stroke: "white",
        strokeWidth: 5,
        lineCap: "round",
        lineJoin: "round"
      },
      configLineH: {
        points: [55, 120, 195, 120],
        stroke: "white",
        strokeWidth: 5,
        lineCap: "round",
        lineJoin: "round"
      },
      configSpeed: {
        x: 100,
        y: 100
      },
      opts: {
        angle: -0.4, // The span of the gauge arc
        lineWidth: 0.1, // The line thickness
        radiusScale: 1, // Relative radius
        pointer: {
          length: null, // // Relative to gauge radius
          strokeWidth: null, // The thickness
          color: "#000000" // Fill color
        },
        limitMax: false, // If false, max value increases automatically if value > maxValue
        limitMin: false, // If true, the min value of the gauge will be fixed
        colorStart: "orange", // Colors
        colorStop: "orange", // just experiment with them
        strokeColor: "black", // to see which ones work best for you
        generateGradient: true,
        highDpiSupport: true // High resolution support
      }
    };
  },
  computed: {
    xValue() {
      return Math.round(this.acelerometro.Ax * 60);
    },
    yValue() {
      return Math.round(this.acelerometro.Ay * 60);
    },
    configCir() {
      return {
        x: 125 - this.xValue,
        y: 120 + this.yValue,
        radius: 10,
        fill: "red",
        strokeWidth: 4
      };
    }
  }
};
</script>
<style scoped>
#container {
  position: relative;
}
#navi,
#infoi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#infoi {
  z-index: 10;
}
</style>
