<template>
  <v-container class="d-flex">
    <v-card class="ml-auto mr-1" min-width="500px" dark>
      <v-sheet
        class="v-sheet--offset mx-auto"
        color="blue-grey darken-4"
        elevation="12"
        max-width="calc(100% - 32px)"
      >
        <GChart type="LineChart" :data="chartData2" :options="chartOptions" />
      </v-sheet>

      <v-card-text class="pt-0">
        <div class="title font-weight-light mb-2">Temperatura</div>

        <v-divider class="my-2"></v-divider>

        <span class="caption orange--text font-weight-light"
          >Raspberry DTH11</span
        >
      </v-card-text>
    </v-card>
    <v-card class="mr-auto ml-1" min-width="500px">
      <v-sheet
        class="v-sheet--offset mx-auto"
        color="blue-grey darken-4"
        elevation="12"
        max-width="calc(100% - 32px)"
      >
        <GChart type="LineChart" :data="chartData" :options="chartOptions" />
        <!-- <v-sparkline
          :labels="labels"
          :value="Humedad"
          color="white"
          line-width="2"
          padding="16"
          :smooth="16"
        ></v-sparkline>
      
        {{ dht.result.humidity }} -->
      </v-sheet>

      <!-- Temp: {{ Humedad }} -->

      <v-card-text class="pt-0">
        <div class="title font-weight-light mb-2">Humedad</div>

        <v-divider class="my-2"></v-divider>

        <span class="caption orange--text text--lighten-1 font-weight-light"
          >Raspberry DTH11</span
        >
      </v-card-text>
    </v-card>
  </v-container>
</template>
<script>
export default {
  props: {
    dht: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      humidity: new Array(50),
      temperature: new Array(50),
      chartOptions: {
        chart: {},
        backgroundColor: {},
        colors: ["black"],

        vAxis: {
          baseLineColor: "black",
          gridLine: {
            color: "black",
            minSpacing: 0.1
          }
        }
      }
    };
  },
  computed: {
    Humedad() {
      if (this.dht.result == null) {
        this.AddHum(42);
        return this.humidity;
      }
      this.AddHum(this.dht.result.humidity);
      return this.humidity;
    },
    chartData() {
      return [["Año", "%"], ...this.Humedad];
    },
    Temperatura() {
      if (this.dht.result == null) {
        this.AddTemp(42);
        return this.temperature;
      }
      this.AddTemp(this.dht.result.temperature_c);
      return this.temperature;
    },
    chartData2() {
      return [["Año", "°C"], ...this.Temperatura];
    }
  },
  mounted() {
    this.humidity.fill(["", 42]);

    this.temperature.fill(["", 25]);
  },
  methods: {
    AddHum(num) {
      if (this.humidity.length >= 50) {
        this.humidity.shift();

        this.humidity.push(["", num]);
      } else {
        this.humidity.push(["", num]);
      }
    },
    AddTemp(num) {
      if (this.temperature.length >= 50) {
        this.temperature.shift();

        this.temperature.push(["", num]);
      } else {
        this.temperature.push(["", num]);
      }
    }
  }
};
</script>

<style scoped>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
</style>
