<template>
  <v-card min height="300px" min-width="400px" color="black" dark>
    <v-img src="../assets/polygon.png" max-height="100%" max-width="100%" cover>
      <h2 class=" mx-auto pt-3 px-2 font-weight-light text-center">
        INFORMACION SENSORES
      </h2>
      <v-row>
        <v-col md="6">
          <v-sparkline
            height="15px"
            color="yellow darken-4"
            :value="value"
            line-width="4"
            class="pl-2 pr-10 mb-3"
            smooth
            stroke-linecap="round"
          ></v-sparkline>
        </v-col>
      </v-row>
      <v-container class="d-flex">
        <v-card
          class="mx-auto pa-2"
          color="blue-grey darken-4"
          v-if="dht.result"
          dark
        >
          <v-container class="d-flex pa-0">
            <v-card color="transparent" class="mx-auto" flat>
              <h3 class="text-center font-weight-light mr-2 ml-1">
                Temperatura
              </h3>
              <h2 class="text-center  font-weight-regular">
                {{ dht.result.temperature_c }} °C
              </h2>
            </v-card>
            <v-card color="transparent" class="mx-auto" flat>
              <h3 class="text-center font-weight-light ml-2 mr-1">
                Humedad
              </h3>
              <h2 class="text-center  font-weight-regular ">
                {{ dht.result.humidity }}
              </h2>
            </v-card>
          </v-container>

          <h6
            class="text-center grey--text text--lighten-1 font-weight-regular mr-2"
          >
            DTH11
          </h6>
        </v-card>
      </v-container>
      <v-container class="d-flex">
        <v-card
          class="mx-auto pa-2"
          color="grey darken-3"
          dark
          v-if="Object.keys(acelerometro).length"
        >
          <v-container class="d-flex pa-0">
            <v-card color="transparent" class="mx-auto px-3" flat>
              <h4 class="text-center font-weight-light mr-2 ml-1">
                GX
              </h4>
              <h5 class="text-center  font-weight-regular">
                {{ acelerometro.Gx.toFixed(3) }} °/s
              </h5>
            </v-card>
            <v-card color="transparent" class="mx-auto px-3" flat>
              <h4 class="text-center font-weight-light mr-2 ml-1">
                GY
              </h4>
              <h5 class="text-center  font-weight-regular">
                {{ acelerometro.Gy.toFixed(3) }} °/s
              </h5>
            </v-card>
            <v-card color="transparent" class="mx-auto px-3" flat>
              <h4 class="text-center font-weight-light mr-2 ml-1">
                GZ
              </h4>
              <h5 class="text-center  font-weight-regular">
                {{ acelerometro.Gz.toFixed(3) }} °/s
              </h5>
            </v-card>
            <v-card color="transparent" class="mx-auto px-3" flat>
              <h4 class="text-center font-weight-light mr-2 ml-1">
                AX
              </h4>
              <h5 class="text-center  font-weight-regular">
                {{ acelerometro.Ax.toFixed(3) }} g
              </h5>
            </v-card>
            <v-card color="transparent" class="mx-auto px-3" flat>
              <h4 class="text-center font-weight-light mr-2 ml-1">
                AY
              </h4>
              <h5 class="text-center  font-weight-regular">
                {{ acelerometro.Ay.toFixed(3) }} g
              </h5>
            </v-card>
            <v-card color="transparent" class="mx-auto px-3" flat>
              <h4 class="text-center font-weight-light mr-2 ml-1">
                AZ
              </h4>
              <h5 class="text-center  font-weight-regular">
                {{ acelerometro.Az.toFixed(3) }} g
              </h5>
            </v-card>
          </v-container>

          <h6
            class="text-center grey--text text--lighten-1 font-weight-regular mt-2"
          >
            ACELEROMETRO MPU6050
          </h6>
        </v-card>
      </v-container>
    </v-img>
  </v-card>
</template>

<script>
export default {
  name: "Info",
  props: {
    acelerometro: {
      type: Object,
      required: true
    },
    dht: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      temperature: 0,
      humidity: 0,
      value: [-8, -8]
    };
  }
};
</script>
