<template>
  <v-card min-width="300px" color="black" min-height="300px">
    <v-img
      src="../assets/polygon.png"
      max-height="300px"
      max-width="300px"
      cover
    >
      <v-container class="d-flex pa-0 pt-2">
        <h1 class=" mx-auto font-weight-light text-center">
          SERVOMOTOR
        </h1>
      </v-container>
      <v-row>
        <v-col md="6">
          <v-sparkline
            height="15px"
            color="yellow darken-4"
            :value="value"
            line-width="6"
            class="pl-2 pr-10 mb-3"
            smooth
            stroke-linecap="round"
          ></v-sparkline>
        </v-col>
      </v-row>
      <v-container class="d-flex">
        <v-btn
          class="mx-auto"
          large
          fab
          dark
          :disable="disable"
          color="yellow darken-4"
          @click="leftServo()"
        >
          <v-icon dark size="40">mdi-arrow-left-bold</v-icon>
        </v-btn>
        <v-btn
          class="mx-auto"
          large
          fab
          dark
          :disable="disable"
          color="yellow darken-4"
          @click="rightServo()"
        >
          <v-icon dark size="40">mdi-arrow-right-bold</v-icon>
        </v-btn>
      </v-container>
      <v-container class="d-flex">
        <v-card class="mx-auto" color="transparent" flat>
          <h4 class=" font-weight-light mr-2">
            Posicion
          </h4>
          <h2 class=" justify-end text-center  font-weight-regular mr-2">
            {{ pos }}
          </h2>
        </v-card>
      </v-container>
    </v-img>
  </v-card>
</template>
<script>
export default {
  data() {
    return {
      pos: 0,
      disable: false,
      value: [-8, -8]
    };
  },
  methods: {
    leftServo() {
      this.disable = true;
      window.setTimeout(() => {
        this.disable = false;
      }, 250);
      this.$JaysonRPC.request("servoleft", [], (err, response) => {
        if (err) throw err;
        this.pos = response.result.servopos; // 2
      });
    },
    rightServo() {
      this.disable = true;
      window.setTimeout(() => {
        this.disable = false;
      }, 250);
      this.$JaysonRPC.request("servoright", [], (err, response) => {
        if (err) throw err;
        this.pos = response.result.servopos; // 2
      });
    }
  },
  mounted() {
    this.$JaysonRPC.request("servoval", [], (err, response) => {
      if (err) throw err;
      this.pos = response.result.servopos; // 2
    });
  }
};
</script>
