<template>
  <v-container>
    <vue-speedometer
      :value="pot.voltage"
      :maxValue="3.3"
      class="ma-0"
      :width="280"
    />
    <v-card dark> </v-card>
  </v-container>
</template>
<script>
// import the component
import VueSpeedometer from "vue-speedometer";
// and use it in your component like
export default {
  name: "Speedometer",
  data() {
    return {
      pot: {}
    };
  },
  components: { VueSpeedometer },
  mounted() {
    window.setInterval(() => {
      this.$JaysonRPC.request("pot", [], (err, response) => {
        if (err) throw err;
        this.pot = response.result.pot; // 2
      });
    }, 1000);
  }
};
</script>
